.input-form {
    margin: $space7 0;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
        height: 30px;
    }
} 

button {
    width: 200px;
    height: 50px;
    background: $brand;
    border: none;
    border-radius: 10px;
    color: $light;
    margin: 0 auto;
    font-size: $space6;
    opacity: 0.8;
    transition: opacity ease-in .6s;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}