
* {
    margin: 0;
    box-sizing: border-box;
    font-family: $standard-font;
}

html {
    font-size: $space5;
}

h1 {
    margin: 0 auto;
    font-size: $space7;
    max-width: 474px;
    @include mq('med') {
        font-size: $space8;
    }
}

h1, h2, h3 {
    font-family: $title-font;
}

h3 {
    font-weight: 400;
}